    @import url(./font.css);
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    body {
        background-color: white;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }
    /* -----------Global Classes------------ */
    
     :root {
        --Sansita: "Sansita", cursive;
        --Courgette: "Courgette", cursive;
        --Abel: "Abel", cursive;
        --Livvic: "Livvic", cursive;
        --Poppins: "Poppins", cursive;
        --Averia_Serif_Libre: "Averia_Serif_Libre", cursive;
        --Bangers: "Bangers", cursive;
        --Be_Vietnam: "Be_Vietnam", cursive;
        --Kaushan_Script: "Kaushan_Script", cursive;
        --Special_Elite: "Special_Elite", cursive;
        --Roboto: "Roboto", cursive;
        --East_Sea_Dokdo: "East_Sea_Dokdo", cursive;
    }
    
    main {
        background-color: black;
        width: 100%;
        height: 100vh;
        color: white;
    }
    
    .main-content {
        margin: 0 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .main-content h1 {
        font-size: 8rem;
        font-family: var(--East_Sea_Dokdo);
        cursor: pointer;
        transition: .8s ease-in-out;
    }
    
    .main-content h1:hover {
        transition: 1s ease-in-out;
        color: rgb(72, 255, 0);
        letter-spacing: 4rem;
    }
    
    @media (max-width: 414px) {
        .main-content {
            margin: 0 .4rem;
        }
        .main-content h1 {
            font-size: 3rem;
        }
        .main-content h1:hover {
            letter-spacing: 1rem;
        }
    }